@import "tailwindcss";

@theme {
    --animate-bounce-spin: bounce-spin 2s infinite;

    @keyframes bounce-spin {

        0%,
        100% {
            transform: translateY(0) rotate(0deg);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }

        50% {
            transform: translateY(-25%) rotate(180deg);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
}